<?xml version="1.0" encoding="UTF-8"?>

<beans
xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

xsi:schemaLocation="
http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="csv" class="com.example.demo.CsvGFG"/>

    <bean id="json" class="com.example.demo.JsonGFG"/>

    <bean id="gfg" class="com.example.demo.GFG">
        <constructor-arg ref="csv"/>
    </bean>

</beans>

<!--
IoC Container
csv → CsvGFG Object
json → JsonGFG Object
gfg	→ GFG Object
-->
