<?xml version="1.0" encoding="UTF-8"?>

<beans
xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

xsi:schemaLocation="
http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="gfg" class="com.example.demo.GFG">
        <property name="geek" ref="csv"/>
    </bean>

    <bean id="csv" class="com.example.demo.CsvGFG"/>
    <bean id="json" class="com.example.demo.JsonGFG"/>

</beans>

<!--
	
Property = geek
	↓
Look for setter: set + Property
setGeek()

-->